@page
@model FLSoftware.AVila.Front.Pages.VantagensModel
@{
    ViewData["Title"] = "Vantagens";
}

<link rel="stylesheet" href="~/css/vantagens.css" asp-append-version="true" />

<h1 id="titulo-vantagem">@ViewData["Title"]</h1>

<p>Exemplo de paragrafo.</p>

<script src="~/js/vantagens.js" asp-append-version="true"></script>